* {
    font-family: 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

ul {
    list-style: none;
    display: flex;
}

body {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.top {
    display: flex;
    flex-direction: column;
    color: yellow;
    background-color: darkgray;
    padding: 2em 8em 4em 8em;
    margin: -8px -1em 0;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 4em;
}

.name {
    font-size: 24px;
}
.links {
    gap: 24px;
}

.titlecard {
    display: flex;
    justify-content: space-between;
}
.titletext {
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: space-between;
    gap: 16px;
    max-width: 400px;
}

.titleimg {
    display: flex;
    flex: 1;
}

img {
    width: 400px;
    margin-left: auto;
}

button {
    font-family: Roboto, sans-serif;
    border: none;
    border-radius: 8px;
    color: yellow;
    background: black;
    padding: 8px;
}

.mission {
    font-size: 36px;
}